.searchBox,
.searchButton {
  display: inline;
}

.search {
  position: absolute;
  top: 175px;
  right: 0;
  width: 40vw;
}

.searchBox {
  height: 45px;
  border: 3px solid #0c5198;
  border-radius: 10px;
  padding: 22px;
  /* color: inherit; */
}

.searchButton {
  background-color: #0c5198;
  color: white;
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.searchButton:hover {
  background-color: white;
  color: #0c5198;
}
