# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @couscousdude @quantum9innovation

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies script files, only @quantum9innovation and not the
# global owners will be requested for a review.
scripts/            @quantum9innovation
.github/            @quantum9innovation
badges/             @couscousdude
src/app/db/workers  @couscousdude

# Manifest
.prettier*          @quantum9Innovation
.stylelintrc.js     @quantum9Innovation
next.config.mjs     @couscousdude
postcss.config.js   @couscousdude
tailwind.config.ts  @couscousdude
tsconfig.json       @couscousdude
