.itemTitle {
  margin: 0;
  font-size: 2em;
}

.itemAbstractHeader {
  margin-top: 20px;
  margin-bottom: 10px;
  color: 33;
  font-size: 1.5em;
}

.typePresentation {
  background-color: #007bff;
}

.typeOther {
  background-color: #6c757d;
}

.resultAbstract {
  color: #333;
}

.downloadButton {
  padding: 10px;
}
