.menu {
  @apply overflow-hidden left-[0] top-[235px] z-10 absolute bg-slate-200;
  @apply duration-300;
  height: calc(200px);
  transition: height 0.2s ease-in-out;
  width: 100vw;
  right: 0;
}

.search-bar {
  @apply w-full flex justify-center z-10 px-4 py-2 bg-slate-300;
}

.search-bar button {
  @apply border-slate-600 text-slate-600 bg-slate-200;
}

.menu-hidden {
  height: 0;
}
