@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #2563eb; /* Tailwind's blue-600 */
}

a:hover {
  text-decoration: underline;
}

.button-default {
  @apply bg-blue-600 text-slate-100 hover:bg-blue-400 font-semibold rounded py-2 px-4 my-2;
}

.badge-base {
  @apply px-3 py-1.5 rounded inline-block w-fit mr-2 mt-4 text-slate-50 border-2;
}

.badge-draft {
  @apply badge-base bg-slate-500 border-slate-500;
}

.badge-published {
  @apply badge-base bg-sky-500 border-sky-500;
}

.badge-reviewed {
  @apply badge-base bg-green-700 border-green-700;
}

.badge-under-review {
  @apply badge-base bg-yellow-500 border-yellow-500;
}

.badge-report {
  @apply badge-base bg-green-500 border-green-500;
}

.badge-presentation {
  @apply badge-base bg-blue-500 border-blue-500;
}

.badge-white-paper {
  @apply badge-base bg-fuchsia-700 border-fuchsia-700;
}

.badge-datasheet {
  @apply badge-base bg-amber-600 border-amber-600;
}

.badge-dwm {
  @apply badge-base bg-rose-950 border-rose-950;
}

.badge-other {
  @apply badge-base bg-gray-400 border-gray-400;
}
