/* stylesheet for the eeXiv UI and the base layout (search, logo, header, footer) */

.header {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to left, #80bfff 0%, #ccc 50%, white 100%);
  color: black;
}

.banner {
  background-color: #0c5198;
  color: white;
}

.title {
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.wordmark {
  float: left;
  height: 100px;
  margin-top: -25px;
}

.contributions {
  width: 40vw;
  margin-left: calc(100% - 40vw - 10px);
}

.contributions a {
  color: #0c5198;
}

.footerContent {
  width: 100%;
  padding: 10px;
  background-color: #c4840c;
  color: white;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerContent a {
  color: white;
  font-weight: bold;
}

.footerContent ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.footerContent li {
  width: calc(33.333% - 10px);
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.content {
  padding: 35px;
  border-radius: 15px;
}
